@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Bellota+Text:wght@300&display=swap');

body {
    font-family: 'Balsamiq Sans', cursive !important;
    margin: 0 !important;
}

.navigation {
    z-index: 1000;
    position: fixed;
    width: 100%;
    font-size: 2;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #4d3e3e;
}

.navigation a {
    font-weight: 700;
    float: left;
    display: block;
    color: #fff3cd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: none;
    color: #4d3e3e;
    background-color: #fff3cd;
}

.navigation .icon {
    color: #fff3cd;
    display: none;
}

@media screen and (max-width: 600px) {
    .navigation a:not(:first-child) {
        display: none;
    }

    .navigation a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navigation.responsive {
        position: relative;
    }

    .navigation.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.top-container {
    background-image: url("pict5.jpg");
    min-height: 500px;
    height: 755px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
}

.top-container h1 {
    font-weight: 700;
    display: inline-block;
    font-family: 'Bellota Text', cursive;
    color: #fff3cd;
    background-color: #4d3e3e;
    width: 50%;
    margin: 325px auto;
}

@media screen and (max-width: 600px) {
    .top-container h1 {
        font-size: 25px;
    }
}

.mid-container {
    text-align: center;
    background-color: #fff3cd;
    height: 700px;
}

#title-news {
    display: inline-block;
    border: 5px;
}

#title-news h2 {
    padding-top: 70px;
    font-weight: 700;
    font-size: 2;
    margin: 0 auto 30px auto;
    text-align: center;
}

.news-section {
    margin: 0 auto;
    display: flex;
    width: 70%;
}

.card {
    display: inline-block;
    margin: 0 auto;
    width: 18rem;
}

.card-text {
    color: #4d3e3e;
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    .mid-container {
        height: 1050px;
        margin: 0 auto;
    }

    #title-news h2 {
        display: inline-block;
        padding-top: 30px;
        font-weight: 700;
        font-size: 20px;
        margin: 0;
        text-align: center;
    }

    .news-section {
        padding: 0;
        display: block;
        margin: 0 auto;
    }

    .card {
        width: 200px;
        margin: 20px auto;
        display: block;
    }

    .card-text {
        font-size: 10px;
        color: #4d3e3e;
        font-weight: 400;
    }
}

.bottom-container {
    background-image: url("pict4.jpg");
    min-height: 500px;
    height: 755px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
}

.bottom-container h2 {
    font-weight: 700 !important;
    display: inline-block !important;
    font-family: 'Bellota Text', cursive;
    color: #fff3cd;
    background-color: #4d3e3e;
    width: 50% !important;
    margin: 280px auto 30px auto !important;
}

#share-fb {
    display: block !important;
    width: 100%;
    margin: 0 auto !important;
}

@media screen and (max-width: 600px) {
    .bottom-container h2 {
        width: 80% !important;
        font-size: 25px !important;
    }
}

.information-container {
    color: #fff3cd !important;
    background-color: #4d3e3e !important;
    margin: auto !important;
    padding: auto 30px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-wrap: wrap-reverse !important;
}

.information-container h5 {
    font-size: .83em !important;
}

.details {
    margin: 30px auto 30px 30px !important;
}

#alamat {
    width: 60% !important;
    margin: 10px 0 !important;
}

#telp {
    margin: 10px 0 !important;
}

#email {
    margin: 10px 0 !important;
}

#follow {
    margin-top: 50px !important;
    margin-left: 30px !important;
    font-size: 25px !important;
}

#facebook-img {
    margin: 10px 10px 0px 30px !important;
    width: 15px !important;
}

#instagram-img {
    margin: 10px 10px 0px 10px !important;
    width: 27px !important;
}

#gmail-img {
    margin: 10px 10px 0px 10px !important;
    width: 41px !important;
}

#quotes {
    text-align: right !important;
    margin-top: 30px !important;
    margin-right: 30px !important;
    font-size: 13px;
}

#copyright {
    margin-top: 100px !important;
    margin-right: 30px !important;
    text-align: right !important;
}

#top-dq {
    margin-right: 240px !important;
    margin-top: 30px !important;
    margin-bottom: 0 !important;
}

#fill {
    margin-right: 10px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 250px !important;
}

#bottom-qd {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

#filling {
    margin: 0 auto 0 auto !important;
}

#copyright-media {
    display: none !important;
    font-size: .83em !important;
}

@media screen and (max-width: 750px) {
    .information-container {
        margin-top: 0 !important;
        max-width: 750px !important;
        height: 480px !important;
    }

    .right-col {
        width: 100% !important;
        margin-bottom: 0 !important;
    }

    .left-col {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        width: 100% !important;
        text-align: center !important;
    }

    .details {
        margin: 30px auto 30px 0 !important;
    }

    #alamat {
        width: 100% !important;
        margin: 10px 0 !important;
    }

    #telp {
        margin: 10px 0 !important;
    }

    #email {
        margin: 10px 0 !important;
    }

    #follow {
        margin-top: 50px !important;
        margin-left: 0 !important;
        font-size: 25px !important;
    }

    #facebook-img {
        margin: 10px 10px 0px 20px !important;
        width: 15px !important;
    }

    #instagram-img {
        margin: 10px 10px 0px 10px !important;
        width: 27px !important;
    }

    #gmail-img {
        margin: 10px 10px 0px 10px !important;
        width: 41px !important;
    }

    #quotes {
        float: right !important;
        text-align: right !important;
        margin-top: 30px !important;
        margin-right: 30px !important;
        font-size: 13px !important;
    }

    #copyright {
        display: none !important;
    }

    #top-dq {
        margin-right: 240px !important;
        margin-top: 30px !important;
        margin-bottom: 0 !important;
    }

    #fill {
        margin-right: 10px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        width: 250px !important;
    }

    #bottom-qd {
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }

    #filling {
        margin: 0 auto 0 auto !important;
    }

    #copyright-media {
        background-color: #4d3e3e !important;
        color: #fff3cd !important;
        text-align: center !important;
        width: 100% !important;
        margin: 0 auto !important;
        display: block !important;
        padding-top: 30px !important;
        padding-bottom: 10px !important;

    }

}